body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 0;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#header{
     
     background: black;
     padding: 20px;
}
#header ul{
    list-style-type: none;
    color: red;
    text-align: center;
    margin-bottom: 30px;
}
#header ul li{
    float: left;
    padding: 10px;
}